[submodule "sim_gen/RoboVerse"]
	path = sim_gen/RoboVerse
	url = https://github.com/RoboVerseOrg/RoboVerse.git
[submodule "real_to_sim/background/3dgrut"]
	path = real_to_sim/background/3dgrut
	url = https://github.com/nv-tlabs/3dgrut
	ignore = untracked
[submodule "real_to_sim/objects/trellis2"]
	path = real_to_sim/objects/trellis2
	url = https://github.com/microsoft/TRELLIS.2
	ignore = untracked
[submodule "real_to_sim/objects/trellis1"]
	path = real_to_sim/objects/trellis1
	url = https://github.com/microsoft/TRELLIS
	ignore = untracked
[submodule "vla/lerobot"]
	path = vla/lerobot
	url = https://github.com/huggingface/lerobot.git
	ignore = untracked
